<div class="container-fluid">
    <div class="box" id="box">
        <h2 class="text-center ">Feedback</h2>
        <textarea type="text" placeholder="Feedback...." rows="10" cols="80" >
        </textarea>
        <br><br>
        <button class="btn btn-primary " id="button" > Sumbit</button>
        <br><br>
        <div id="content"></div>
    </div>
 
    <form action="address" class="border-rounded border-black text-center bg-black  text-white">
        <div class="col-md-12">
            <h3>Contact Us</h3>
        <address>
            <div class="add">
             
            <i class="fa fa-phone"></i> 141-025-9999 <br>
            <i class="fa fa-envelope"></i> ecommerce@ecommerce.in <br>
            <i class="fa fa-address-book"></i> 415, Ghandhi Road, Thirupathi Nagar, <br>
        Sivakasi-626123
             <div class="con"><i class="fa fa-shopping-cart"></i>  E-Commerce</div>
        </div>
          
        </address>
        
    </div>
    
    </form>
 </div>